<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_9" version="2.4">
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>bookstore.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>bookstore.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>bookstore.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>bookstore.servlet.ListBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartServlet</servlet-name>
  	<servlet-class>bookstore.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>ListUserServlet</servlet-name>
      <servlet-class>bookstore.servlet.ListUserServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>SearchUserServlet</servlet-name>
      <servlet-class>bookstore.servlet.SearchUserServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>StatisticServlet</servlet-name>
      <servlet-class>bookstore.servlet.StatisticServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>ManageBookServlet</servlet-name>
      <servlet-class>bookstore.servlet.ManageBookServlet</servlet-class>
  </servlet>

  
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartServlet</servlet-name>
  	<url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>ListUserServlet</servlet-name>
      <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>SearchUserServlet</servlet-name>
      <url-pattern>/SearchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>StatisticServlet</servlet-name>
      <url-pattern>/StatisticServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>ManageBookServlet</servlet-name>
      <url-pattern>/ManageBookServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>BookListServlet</welcome-file>
  </welcome-file-list>
</web-app>